# Ignore unnecessary folders
Drone_Image_Processing_Example\COCO\
Drone_Image_Processing_Example\simulation_results\
Drone_Image_Processing_Example\simulation_plots\
Drone_Image_Processing_Example\yolov5l.pt
Drone_Image_Processing_Example\yolov5n.pt
.idea\